<!doctype html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Панель адміністратора">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>

  <title>Адмін-панель</title>

  <link rel="manifest" href="/static/cabinet/manifest.json">
  <link rel="shortcut icon" href="/static/cabinet/logo.ico">

  <link href="/static/cabinet/css/main.bfe4d5b0.css" rel="stylesheet">
  <script defer src="/static/cabinet/js/main.f4e743b4.js"></script>
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>
</html>
