{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="container py-5" id="appeals">
  <h1 class="section-title text-center mb-4" data-aos="fade-up">Звернення</h1>



  <!-- Основний текст -->
  <div class="card p-4 mb-5" data-aos="fade-up" data-aos-delay="300">
<p>
  Споживачі надають звернення, скарги та претензії стосовно якості постачання електричної енергії та повідомлення про загрозу електробезпеки відповідно до розділу VIII Правил роздрібного ринку електричної енергії.
</p>

<p>
  Споживач у разі порушення його прав та законних інтересів першочергово має звернутись до ПП «АЛЬТЕРХОЛ» або оператора системи (далі – учасники) зі зверненням/скаргою/претензією щодо усунення таким учасником порушення та відновлення прав та законних інтересів споживача.
</p>

<p>
  До звернення/скарги/претензії споживач має додати наявні оригінали рішень або копії рішень, які приймалися за його зверненням/скаргою/претензією раніше, а також за наявності інші документи, необхідні для розгляду звернення/скарги/претензії, які після його (її) розгляду повертаються споживачу.
</p>

<p>
  Якщо звернення не містить даних, необхідних для прийняття обґрунтованого рішення, учасники роздрібного ринку можуть у строк не більше 3 календарних днів звернутися до споживача за додатковою інформацією, яка необхідна йому для повного та об'єктивного розгляду звернення/скарги/претензії.
</p>

<p>
  У разі ненадання споживачем необхідної інформації (документів), пояснень щодо обставин, зазначених у зверненні/скарзі/претензії, учасники роздрібного ринку мають надати споживачу роз'яснення (відповідь) виходячи з наявної у нього інформації. Ненадання споживачем додаткової інформації не є підставою для відмови учасників роздрібного ринку у розгляді звернення/скарги/претензії споживача.
</p>

<p>
  Учасник роздрібного ринку, отримавши від споживача звернення/скаргу/претензію, має її зареєструвати та розглянути відповідно до порядку. Якщо споживач не погоджується з рішенням, прийнятим за його зверненням/скаргою/претензією, він може оскаржити таке рішення шляхом направлення скарги Регулятору або енергетичному омбудсмену.
</p>

<p>
  Скарга може бути подана споживачем протягом 1 року з моменту прийняття рішення, що оскаржується, але не пізніше 1 місяця, починаючи з дня, наступного за днем ознайомлення або отримання споживачем цього рішення. Постачальник має право не розглядати скаргу, подану з порушенням зазначеного строку.
</p>

<p>
  Звернення, скарги та претензії споживачів стосовно якості постачання електричної енергії та повідомлення споживачів про загрозу електробезпеки мають бути оформлені у письмовій формі і надані особисто або поштовим зв`язком на адресу:
</p>

<p>
  ПП «АЛЬТЕРХОЛ»: 79020, м.Львів, проспект В’ячеслава Чорновола, 43А.
</p>

<p>
  Звернення, скарги, претензії та повідомлення споживачів розглядаються у порядку та строки, встановлені Законом України «Про звернення громадян» і чинним законодавством України»
</p>

<p>
  Також споживачу надається інформація щодо можливих шляхів вирішення спорів та контактні дані відповідальних органів державної влади, місцевого самоврядування, посадових осіб, уповноважених розглядати такі звернення/скарги/претензії. У разі отримання електропостачальником (скарги/претензії) споживача з питань, що не належать до його компетенції, він надсилає таке звернення/скаргу/претензію за належністю відповідному учаснику роздрібного ринку відповідно до компетенції протягом 5 робочих днів, про що в цей же строк повідомляє споживача.
</p>


<!-- Посилання -->


<p>
  <a href="/media/docs/Інструкція_про_порядок_подання_звернень_скарг_претензіи.pdf" 
     target="_blank" class="pdf-link">
    Інструкція про подання звернень, скарг, претензій
  </a>
</p>

    <p><strong>Загальний звіт по зверненнях:</strong></p>
    <ul>
      <p>
  <a href="/media/docs/Звернення_2019.pdf" 
     target="_blank" class="pdf-link">
   <li> Загальний звіт по зверненнях за 2019 р.</li>
  </a>
</p>
      <p>
  <a href="/media/docs/Звернення_2020.pdf" 
     target="_blank" class="pdf-link">
   <li> Загальний звіт по зверненнях за 2020 р.</li>
  </a>
</p>
     <p>
  <a href="/media/docs/Звернення_2021.pdf" 
     target="_blank" class="pdf-link">
   <li> Загальний звіт по зверненнях за 2021 р.</li>
  </a>
</p>
      <p>
  <a href="/media/docs/Звернення_2022.pdf" 
     target="_blank" class="pdf-link">
   <li> Загальний звіт по зверненнях за 2022 р.</li>
  </a>
</p>
      <p>
  <a href="/media/docs/Звернення_2023.pdf" 
     target="_blank" class="pdf-link">
   <li> Загальний звіт по зверненнях за 2023 р.</li>
  </a>
</p>
<p>
  <a href="/media/docs/Звернення_2024.pdf" 
     target="_blank" class="pdf-link">
   <li> Загальний звіт по зверненнях за 2024 р.</li>
  </a>
</p>
    </ul>

    <p><strong>Звіт про звернення та скарги споживачів ее:</strong></p>
    <ul>
      <p>
  <a href="/media/docs/40300844_11S_19.pdf" 
     target="_blank" class="pdf-link">
   <li> Звіт про звернення та скарги споживачів ее за 2019 р.</li>
  </a>
</p>
       <p>
  <a href="/media/docs/40300844_11S_20.pdf" 
     target="_blank" class="pdf-link">
   <li> Звіт про звернення та скарги споживачів ее за 2020 р.</li>
  </a>
</p>
        <p>
  <a href="/media/docs/40300844_11S_21.pdf" 
     target="_blank" class="pdf-link">
   <li> Звіт про звернення та скарги споживачів ее за 2021 р.</li>
  </a>
</p>
       <p>
  <a href="/media/docs/40300844_11S_22.pdf" 
     target="_blank" class="pdf-link">
   <li> Звіт про звернення та скарги споживачів ее за 2022 р.</li>
  </a>
</p>
       <p>
  <a href="/media/docs/40300844_11S_23.pdf" 
     target="_blank" class="pdf-link">
   <li> Звіт про звернення та скарги споживачів ее за 2023 р.</li>
  </a>
</p>
    <p>
  <a href="/media/docs/40300844_11S_24.pdf" 
     target="_blank" class="pdf-link">
   <li> Звіт про звернення та скарги споживачів ее за 2024 р.</li>
  </a>
</p>
    </ul>

    <p><strong>Інформація щодо дотримання загальних та гарантованих стандартів якості надання послуг:</strong></p>
    <ul>
       <p>
  <a href="{{ document.file.url }}" 
   target="_blank" class="pdf-link">
    <li>{{ document.title }}</li>
</a>
</p>
      <p>
  <a href="/media/docs/АХ_ДОДАТОК_6_2019.pdf" 
     target="_blank" class="pdf-link">
   <li> Інформація щодо дотримання загальних та гарантованих стандартів якості надання послуг за 2019 рік</li>
  </a>
</p>
      <p>
  <a href="/media/docs/АХ_ДОДАТОК_6_2020.pdf" 
     target="_blank" class="pdf-link">
   <li> Інформація щодо дотримання загальних та гарантованих стандартів якості надання послуг за 2020 рік</li>
  </a>
</p>
      <p>
  <a href="/media/docs/АХ_ДОДАТОК_6_2021.pdf" 
     target="_blank" class="pdf-link">
   <li> Інформація щодо дотримання загальних та гарантованих стандартів якості надання послуг за 2021 рік</li>
  </a>
</p>
          <p>
  <a href="/media/docs/40300844_8_2022.xlsx_-_Аркуш2.pdf" 
     target="_blank" class="pdf-link">
   <li> Інформація щодо дотримання загальних та гарантованих стандартів якості надання послуг за 2022 рік</li>
  </a>
</p>
      <p>
  <a href="/media/docs/40300844_8_2023.xlsx_-_Аркуш2.pdf" 
     target="_blank" class="pdf-link">
   <li> Інформація щодо дотримання загальних та гарантованих стандартів якості надання послуг за 2023 рік</li>
  </a>
</p>
      <p>
  <a href="/media/docs/40300844_8_2024.xlsx_-_додаток_8.pdf" 
     target="_blank" class="pdf-link">
   <li> Інформація щодо дотримання загальних та гарантованих стандартів якості надання послуг за 2024 рік</li>
  </a>
</p>
    </ul>

    <p><strong>Звіти щодо показників комерційної якості:</strong></p>
    <ul>
      <p>
  <a href="/media/docs/звіт.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 1 квартал 2022
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14-NKREKP_40300844_22_2_PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 2 квартал 2022
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14-NKREKP_40300844_22_3PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 3 квартал 2022
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14-NKREKP_40300844_22_4_PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 4 квартал 2022
    року</li>
  </a>
</p>
      
  <a href="/media/docs/ECP_14-NKREKP_40300844_23_1_PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 1 квартал 2023
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14-NKREKP_40300844_23_2_PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 2 квартал 2023
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14-NKREKP_40300844_23_3_PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 3 квартал 2023
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14-NKREKP_40300844_23_4_PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 4 квартал 2023
    року</li>
  </a>
</p>
     
  <a href="/media/docs/ECP_14-NKREKP_40300844_24_1PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 1 квартал 2024
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14-NKREKP_40300844_24_2_PVC.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 2 квартал 2024
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/SER_40300844_2024_3_00.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 3 квартал 2024
    року</li>
  </a>
</p>
     <p>
  <a href="/media/docs/SER_40300844_2024_4_00.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 4 квартал 2024
    року</li>
  </a>
</p>
      
  <a href="/media/docs/ECP_14_40300844_2025_01_00.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 1 квартал 2025
    року</li>
  </a>
</p>
      <p>
  <a href="/media/docs/ECP_14_40300844_2025_02_00.xlsx_-_Аркуш1.pdf" 
     target="_blank" class="pdf-link">
   <li>Звіт щодо показників комерційної якості надання послуг з постачання електричної енергії за 2 квартал 2025
    року</li>
  </a>
</p>
    </ul>
  </div>
</section>
<style>
  .pdf-link {
    color: #d7d4d4ff;               /* чорний текст */
    text-decoration: none;     /* без підкреслення */
    display: inline;           /* тільки текст клікабельний */
    font-size: 16px;
    font-weight: 500;
  }

  .pdf-link:hover {
    color: #9000ffff;            /* міняє колір тільки на буквах */
    text-decoration: underline;
  }
</style>
{% endblock %}
