{% extends 'main/base.html' %}
{% load static %}

{% block title %}Як почати співпрацю{% endblock %}

{% block content %}
<section class="container py-5" id="start">
  <h2 class="section-title text-center" data-aos="fade-up">Як почати працювати?</h2>

  <!-- Контактна інформація та консультації -->
  <div class="row g-4 justify-content-center mb-4" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-10">
      <div class="card p-4">
        <h5>Звʼяжіться з нами та отримайте необхідні консультації</h5>
        <p>Зв’яжіться із нами будь-яким зручним для Вас способом, надайте коротку інформацію про своє підприємство, стан його енергетичного господарства та режими роботи. Одночасно, Ви зможете більш детально дізнатись про умови майбутньої співпраці та отримати коротку інформацію про наше підприємство.</p>
        <p>Зауважте, що надана Вами інформація повинна бути максимально точною, адже вона впливатиме на розрахунок знижки для Вашого підприємства. Ми розраховуємо для Вас індивідуальні умови співпраці.</p>
      </div>
    </div>
  </div>

  <!-- Оформлення документів -->
  <div class="row g-4 justify-content-center mb-4" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-10">
      <div class="card p-4">
        <h5>Оформлення документів</h5>
        <p>Перед початком нашої співпраці ПП «Альтерхол» має отримати від Вас наступний перелік документів згідно п.3.2.10 Правил роздрібного ринку електричної енергії:</p>
        <ul>
          <li>Скан-копію документа на підтвердження повноважень особи на укладення Договору:
            <ul>
              <li>Наказ на призначення керівника (або Довіреність на підписанта);</li>
              <li>Статут чинний на момент підписання;</li>
              <li>Положення про філію (якщо є).</li>
            </ul>
          </li>
          <li>При обмеженні права підпису керівника – протокол або рішення засновників про делегування права підпису;</li>
          <li>Скан Витягу з ЄДР та копію виписки з ЄДР;</li>
          <li>Скан Витягу з реєстру платників ПДВ та копію довідки про ІПН;</li>
          <li>Підписану Заяву приєднання до Договору;</li>
          <li>Заповнений Проект договору;</li>
          <li>Контактні дані відповідальних осіб: енергетика, бухгалтера та особи, відповідальної за обмін документами.</li>
        </ul>
        <p>Ця інформація використовується для заповнення Договору та додатків. Початок співпраці залежить від оперативності її надання.</p>
      </div>
    </div>
  </div>

  <!-- Підписання Договору -->
  <div class="row g-4 justify-content-center mb-4" data-aos="fade-up" data-aos-delay="300">
    <div class="col-lg-10">
      <div class="card p-4">
        <h5>Підписання Договору</h5>
        <p>Останнім етапом переходу є укладення Договору про постачання електроенергії зручним для Вас методом: підписання паперових документів або з допомогою електронно-цифрового підпису (ЕЦП).</p>
        <p>Зауважте, що кожен споживач перед переходом до нового постачальника має свої зобов'язання перед Оператором системи розподілу та попереднім постачальником.</p>
      </div>
    </div>
  </div>

  <!-- Початок співпраці -->
  <div class="row g-4 justify-content-center mb-4" data-aos="fade-up" data-aos-delay="400">
    <div class="col-lg-10">
      <div class="card p-4">
        <h5>Початок співпраці із ПП «Альтерхол»</h5>
        <p>ПП «Альтерхол» приєднує Ваші точки обліку, зазначені в додатку до Заяви-приєднання, з дати зазначеної в самій Заяві. Ми зобов’язуємось дотримуватись усіх договірних зобов'язань та очікуємо взаємного дотримання від клієнтів.</p>
      </div>
    </div>
  </div>
</section>
  

</div>
{% endblock %}

