body {
    background-color: #f4f4f6; /* світло-сірий фон */
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #4a3f6b !important; /* темно-фіолетовий */
}

.navbar .nav-link {
    color: #e5e5f0 !important;
    transition: color 0.3s;
}
.navbar .nav-link:hover {
    color: #c9b6ff !important; /* ніжно-фіолетовий */
}

.btn-primary {
    background-color: #6c5ce7;
    border: none;
}
.btn-primary:hover {
    background-color: #5a4bd1;
}

.btn-outline-light {
    color: #e5e5f0;
    border-color: #c9b6ff;
}
.btn-outline-light:hover {
    background-color: #c9b6ff;
    color: #4a3f6b;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.card-header {
    background-color: #6c5ce7;
    color: white;
}

.price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #6c5ce7;
}
.btn-animated {
  background: linear-gradient(45deg, #6a4caf, #4b2e83);
  color: white;
  padding: 12px 25px;
  font-size: 1.1rem;
  border: none;
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0 4px 15px rgba(75,46,131,0.3);
}
.btn-animated:hover {
  transform: scale(1.08) translateY(-3px);
  background: linear-gradient(45deg, #4b2e83, #6a4caf);
  box-shadow: 0 6px 25px rgba(75,46,131,0.5);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.notice-box{
  background: rgba(155, 48, 255, 0.15);
  border-left: 4px solid var(--violet-2);
  padding: 20px 24px;
  border-radius: 12px;
  color: #f1f1f1;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px rgba(155,48,255,0.35);
}

.notice-box strong{
  color: var(--highlight);
}

.text-link {
  color: #0d6efd; /* bootstrap-синій */
  text-decoration: none;
  transition: color 0.2s ease;
}

.text-link:hover {
  color: #084298;
  cursor: pointer;
}
